/* The sample boards at the bottom. */

/* Keyboard display for keymap bindings. */
#key-selection {
  flex: 0 0 content;
  background-color: var(--background-color);
}

#allboards {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  overflow: auto;
  flex-basis: 100%;
  align-items: center;
}

.board-map {
  display: flex;
  padding: 4px;
  margin-bottom: 4.5px;
  flex-basis: 100%;
  flex-direction: column;
}

.kb-board-mods {
  position: relative;
  display: flex;
  margin-bottom: 6px;
}

#board-selection {
  flex: 0 0 content;
  height: 40px;
  margin-left: 1em;
  display: flex;
  flex-flow: row;
  padding: 4px;
  width: 100%;
}

.board-sel {
  cursor: pointer;
  flex: 4 0 content;
  padding: 5px;
  border: 2px solid #bbb;
  border-radius: 3px;
  margin-left: 4px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 8pt;
}

.board-sel-unusual {
  cursor: pointer;
  flex: 4 0 content;
  padding: 5px;
  border: 2px solid #bbb;
  border-radius: 3px;
  margin-left: 4px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 8pt;
}

.board-sel:hover {
  background-color: var(--surface-hover-color);
}

.board-sel.active {
  background-color: var(--surface-selected-color);
}

.board-sel-end {
  flex: 1 1 auto;
}

.layer-list-head {
  display: inline-block;
}
